
body {
	background-color: rgb(211, 115, 115);
}

h1 {
	color: hsl(0, 0%, 100%);
	padding: 40px;
	text-align: center;
}

p {
	background-color: #ffffff;
}

div {
	
  font-weight: bold;
  color: #ffffff;
  margin: 5px;
}

#display-results{
   color: #ffffff;
	font-size: 20px;
}